{{!-- partial which will show the request to borrow items the user owns, will be displayed in the profile page --}}
<div>
    {{!-- will display the requester's username rating history and what product they want to borrow  --}}
    <p>{{ borrower.username }} with {{#if borrower.ratings}} borrower rating of {{get_average_rating borrower.ratings}}{{else}}no borrowing history{{/if}} is requesting to borrow {{ gear.product_name }}</p>
    <button class="btn btn-primary acceptButton" data-id="{{id}}" data-gear="{{product_id}}" type="submit">Accept</button>
    <button class="btn btn-danger declineButton" data-id="{{id}}" data-gear="{{product_id}}"  type="submit">Decline</button>
</div>