<div>
    <p>{{ borrower.username }} with {{#if borrower.ratings}} borrower rating of {{get_average_rating borrower.ratings}}{{else}}no borrowing history{{/if}} is requesting to borrow {{ gear.product_name }}</p>
    <button class="acceptButton" data-id="{{id}}" data-gear="{{product_id}}" type="submit">Accept</button>
    <button class="declineButton" data-id="{{id}}" data-gear="{{product_id}}"  type="submit">Decline</button>
</div>