<div class="test">
    <p>Product name: {{ gear.product_name }}</p>
    <p>Description: {{ gear.description }}</p>
    <p>Is it available: {{ gear.available }}</p>
    <p>daily rate: ${{ gear.cost_per_day }}</p>
    <p>Product Owner: {{ gear.user.username }}</p>
    <p>Owner's lender rating: {{ rating }}</p>
    <p>Are you logged in: {{ loggedIn }}</p>
</div>