{{!-- Showcasing EACH Products in the homepage w/ height and md-3 (columns) and mb-4(margin bottom 4) --}}
<div class="container homeProducts">
    <form class="search-form" method="get">
      <select id="category" name="category">
        <option value="" disabled selected>SELECT CATEGORY</option>
        <option value='LENSES'>LENSES</option>
        <option value='BODY'>BODY</option>
        <option value='FLASH'>FLASH</option>
        <option value='LIGHTS'>LIGHTS</option>
      </select>
      <button class="btn btn-primary me-1" id="search-btn" name="search" type="submit">Search</button>
      <button class="btn btn-danger" id="clear-btn" name="clear" type="submit">Clear</button>
    </form>
    <h2 class="additions ">Latest Additions</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        {{#each list as |gear|}}
        <div class="col mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="{{ gear.image_url }}" alt="{{ gear.product_name }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ gear.product_name }}</h5>
                    <div class="d-flex justify-content-between mt-auto">
                        <div><i class="fa fa-usd" aria-hidden="true"></i>{{ gear.cost_per_day }} per day</div>
                        <div>
                            <a href="/gear/{{ gear.id }}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
 <script src="/js/search.js"></script>