{{!-- <div class="test">
    <p>Username:{{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <H1>Gear</H1>
    {{#each user.gears as |gear|}}
    <p>Product name: {{ gear.product_name }}</p>
    <p>Category: {{ gear.category }}</p>
    <p>Is it available: {{ gear.available }}</p>
    {{/each}}
    <h1>items lent</h1>
    {{#each user.items_lent as |loan|}}
    <p>Product id:{{ loan.product_id }}</p>
    <p>Loan Status:{{ loan.status }}</p>
    {{/each}}
    <h1>items borrowed</h1>
    {{#each user.items_borrowed as |loan|}}
    <p>Product id:{{ loan.product_id }}</p>
    <p>Loan Status:{{ loan.status }}</p>
    {{/each}}
    <p>Logged in: {{ loggedIn }}</p>
</div> --}}

<!-- GREETING SECTION-->
<div>
    <h2 class="tracking-widest font-serif text-3xl">Welcome, {{ user.username }}</h2>
</div>

<!-- REQUEST NOTIFICATION SECTION-->
<div class="view-request">
    <p>You've got *#* new borrow request(s)</p>
    <button class="px-2 py-1 bg-[#44B09E] text-white rounded-sm" id="view-request" type="submit">View Requests</button>
</div>

    <!-- REVIEW REQUESTS SECTION-->
    <div class="row mx-auto card-deck request" style="display: none;">
        <!-- REQUEST CARD SECTION-->
        <h3>Requests</h3>
        {{#each user.items_lent as |lent|}}
            {{#if (check_requested lent.status)}}
                {{> request }}
            {{/if}}
        {{/each}}
    </div>


    <!-- MY LISTINGS SECTION-->
    <div>
    <a class="px-2 py-1 bg-[#44B09E] text-white rounded-sm" href="/gear/add">Add New Listing</a>
</div>
    <!-- LISTING CARD -->
     {{#each user.gears as |listing|}}
    {{> profile-listing }}
    {{/each}}
</div>

        <!-- ITEMS RENTED SECTION-->

    <div>
        <h3>Items Borrowed</h3>
        <div class="row mx-auto card-deck">
            {{#each user.items_borrowed as |rented|}}
            {{#unless (check_returned rented.status)}}
            {{> profile-rented}}
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div>
        <h3>Confirm Returns</h3>
        <div class="row mx-auto card-deck">
            {{#each user.items_lent as |lent|}}
            {{#if (check_returned lent.status)}}
            {{> profile-lent}}
            {{/if}}
            {{/each}}
        </div>
    </div>

</div>


<script src="/js/view-request.js"></script>
<script src="/js/handleRequest.js"></script>
<script src="/js/returnItem.js"></script>
<script src="/js/confirm.js"></script>