{{!-- <div class="test">
    <p>Username:{{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <H1>Gear</H1>
    {{#each user.gears as |gear|}}
    <p>Product name: {{ gear.product_name }}</p>
    <p>Category: {{ gear.category }}</p>
    <p>Is it available: {{ gear.available }}</p>
    {{/each}}
    <h1>items lent</h1>
    {{#each user.items_lent as |loan|}}
    <p>Product id:{{ loan.product_id }}</p>
    <p>Loan Status:{{ loan.status }}</p>
    {{/each}}
    <h1>items borrowed</h1>
    {{#each user.items_borrowed as |loan|}}
    <p>Product id:{{ loan.product_id }}</p>
    <p>Loan Status:{{ loan.status }}</p>
    {{/each}}
    <p>Logged in: {{ loggedIn }}</p>
</div> --}}

<div class="container my-4 mx-auto">
    <!-- GREETING SECTION-->
    <div>
        <h2>Welcome, {{ user.username }}</h2>
    </div>

    <!-- REQUEST NOTIFICATION SECTION-->
    <div class="view-request">
        <p>You've got *#* new borrow request(s)</p>
        <button id="view-request" type="submit">View Request</button>
    </div>

    <!-- REVIEW REQUESTS SECTION-->
    <div class="request" style="display: none;">
        <!-- REQUEST CARD SECTION-->
        {{#each requests as |request|}}
        {{> request }}
        {{/each}}
    </div>

    <!-- MY LISTINGS SECTION-->
    <div>
        <h3>My Listings</h3>
        <!-- ADD NEW LISTING -->
        <div>
            <a href="/gear/add">Add New Listing</a>
        </div>
        <!-- LISTING CARD -->
        {{#each user.gears as |listing|}}
        {{> profile-listing }}
        {{/each}}
    </div>

    <!-- ITEMS RENTED SECTION-->
    <div>
        <h3>Items Rented</h3>
        <!-- RENTED ITEM CARD -->
        <div>
            <img src="{{ gear.image_url }}" alt="{{ gear.product_name }}">
            <div>
                <h5>{{ gear.product_name }}</h5>
                <a href="/gear/{{ gear.id }}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
</div>