<div class="test">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Average lender Rating: {{ lender_rating }}</p>
    <p>Average borrower Rating: {{ borrower_rating }}</p>
    <h1>Ratings</h1>
    {{#each user.ratings as |rating|}}
        <p>Interaction: {{ rating.type }}</p>
        <p>Rating: {{ rating.rating }}</p>
        <p>Comment: {{ rating.comment }}</p>
    {{/each}}
    <p>Logged in: {{ loggedIn }}</p>
</div>