{{!-- Form to update listing --}}
<h2>Update Listing</h2>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form class="editListing" id="editListing" enctype="multipart/form-data" method="PUT">
            <input type="hidden" name="gear-id" value="{{gear.id}}">
            <div class="form-group mb-3">
                <label for="product_name" class="form-label">Listing Name:</label>
                <input class="form-control" type="text" id="product_name" value="{{gear.product_name}}" />
            </div>
            <div class="form-group mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" id="description" rows="5">{{gear.description}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="category" class="form-label">Category:</label>
                <select name="category" id="category" class="form-control">
                    {{#each categories as |category|}}
                    <option value="{{category}}">{{category}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group mb-3">
                <label for="cost_per_day" class="form-label">Cost Per Day:</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input class="form-control" type="text" id="cost_per_day" value="{{gear.cost_per_day}}" />
                    <span class="input-group-text">.00</span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="img_file" class="form-label">Image:</label>
                <div class="input-group">
                    <input type="file" class="form-control-file" name="img_file" id="img_file">
                </div>
            </div>
            <div class="form-group mb-3">
                <button id="save-btn" class="btn btn-primary" type="submit">Save</button>
                <button id="delete-btn" class="btn btn-danger" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/editListing.js"></script>
<script src="/js/deleteListing.js"></script>